<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para trocar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mude minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isto, por favor ignore este email.</p>

<p>Sua senha não será mudada até que você acesse o link a acima e crie uma nova</p>
